:root {
  --main-color: #6F3797;
  --accent-color:#E3D0F0;
  --background-color: #ECECEC;
  --text-color: #121112;
  --text-grey-color:#645E5E;
}

.content--header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 2rem;
}

.header--title{
    color: var(--main-color);
}

.search-box{
    width: 60%;
    background: var(--accent-color);
    padding: 8px 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 2.5fr 0.5fr;

}

.search-box input{
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
}

.search-box input::placeholder{
  color: #645E5E;
  font-weight: 500;
}

.search-box .icon-search{
    color: var(--main-color);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-left: auto;
}

.icon-search:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.admin-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 20px;
   margin-left: auto;
}


.greeting {
  font-weight: 500;
  color: var(--text-color);
 
}

.admin-avatar {
  font-size: 3rem;
  color: var(--main-color);
}