:root {
  --main-color: #6F3797;
  --accent-color:#E3D0F0;
  --background-color: #ECECEC;
  --background-1-color: #F4F1F6;
  --text-color: #121112;
  --text-grey-color:#645E5E;
}

.cards{
    margin:40px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 3.8rem;
    background: var(--background-1-color);
    padding: 15px;
    border-radius: 12px; 
    border: var(--accent-color) 1px solid;
    width: auto;
}


.title{
    display: flex;
    gap: 10px;
    align-items: center;
}

.card .icon{
    color: var(--main-color);
}